@font-face {
  font-family: "FuturaDemiC";
  font-weight: 400;
  src: url(../fonts/futura/FuturaDemiC.woff) format("woff");
}

@font-face {
  font-family: "FuturaBookC";
  font-weight: 400;
  src: url(../fonts/futura/FuturaBookC.woff) format("woff");
}


@font-face {
  font-family: "Yeseva One";
  font-weight: 400;
  src: url(../fonts/yeseva/YesevaOne-Regular.ttf) format("truetype");
}


// @font-face {
//   font-family: "FuturaDemiC";
//   font-weight: 400;
//   src: url(../fonts/futura/FuturaDemiC.woff) format("woff");
// }
