.client {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
  padding: 20px;
  box-shadow: $card-shadow;

  &__photo {
    border-radius: 50%;
  }

  &__info {
    grid-column: 1 / 3;
    margin-bottom: 70px;
  }

  &__features {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $secondary;
    color: $neutral;

  }

  &__square,
  &__time {
    display: inline-block;
    padding: 10px 10px 10px 50px;

    &:not(:last-child) {
      border-right: 1px solid $neutral;
    }
  }
}
