.control {
  background-image: linear-gradient(to bottom, $primary 0%, $primary 50%, $neutral 50%);

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5.5%;
  }

  &__title {
    margin: 0 0 70px;
    text-align: center;
    text-transform: uppercase;
    color: $neutral;
  }

  &__info {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
  }
}
