.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  align-content: center;
  justify-content: space-between;
  font-family: 'FuturaDemiC', Arial, sans-serif;
  font-size: 14px;

  @media (max-width: $laptop-width) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet-width) {
    display: block;
  }

  &__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary;
    min-width: 130px;
  }

  &__call-btn {
    font-size: 13px;

    @media (max-width: $laptop-width) {
      display: none;
    }
  }
}
