.design-project {
  color: $primary;
  background-image: linear-gradient(to bottom, $neutral 0%, $neutral 55%, $primary 55%);

  @media (max-width: $tablet-width) {
    color: $neutral;
    background-image: none;
    background-color: $primary;
  }

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5%;
  }

  @include icon-lines(28px, 28px);

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Yeseva One", Arial, serif;
    line-height: 1.38;
  }

  &__info {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: "FuturaBookC", Arial, sans-serif;
    line-height: 1.35;

    @media (max-width: $tablet-width) {
      max-width: none;
    }
  }
}
