.design-project {


  .container {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5%;

  }

  &__title {
    text-align: center;
  }

  &__info {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 50%;
    text-align: center;
  }
}
