.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: $neutral;

  @media (max-width: $tablet-width) {
    order: 2;
  }

  &__feature-name {
    display: inline-block;
    text-transform: uppercase;
    color: $secondary;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Yeseva One', Arial, serif;
  }

  &__feature-info {
    max-width: 100px;
    align-self: end;
    margin: 0;
    font-family: 'FuturaBookC', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.35;
  }
}
