.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'FuturaBookC', Arial, sans-serif;
    font-size: 14px;
  }

  &__link {
    text-decoration: none;
    color: $neutral;

    &--active {
      color: $secondary;
    }
  }


}
