.main-footer {
  background-color: $primary;

  @media (max-width: $tablet-width) {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 3% 5.5%;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    font-family: 'FuturaDemiC', Arial, sans-serif;
    text-transform: uppercase;
    color: $secondary;
  }
}
