.main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'FuturaBookC', Arial, sans-serif;
    font-size: 14px;

    & .main-nav__link {
      text-decoration: none;
      color: $neutral;
    }

    &--active .main-nav__link {
      color: $secondary;
    }


    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 0%;
      height: 1px;
      background-color: $neutral;
      transition: width 0.3s ease;
    }

    &--active::before {
      background-color: $secondary;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }


  }

}
