.map {
  background-color: lighten($primary, 10%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/map-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 65px;

  @media (max-width: $tablet-width) {
    background-color: $primary;
    padding-bottom: 0;
  }

  .wrapper {
    position: relative;
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 300px 5% 0;

    @media (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      padding: 50px 5% 0;
    }
  }

  &__interactive-map {
    display: none;

    &--show {
      display: flex;
      margin: 0 auto;
      width: 65%;
      max-width: 925px;
      height: 450px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      max-width: none;
    }
  }


  &__static-map {
    display: flex;
    margin: 0 auto;
    width: 65%;
    height: auto;
    max-width: 925px;

    @media (max-width: $tablet-width) {
      width: 100%;
      max-width: none;
    }
  }

  &__info {
    display: grid;
    width: 42%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: $secondary;
    text-transform: uppercase;
    font-family: "Yeseva One", Arial, serif;
    font-size: 20px;
    line-height: 1.38;

    @media (max-width: $tablet-width) {
      width: 100%;
      order: 1;
    }
  }

  &__address,
  &__tel {
    text-align: center;
    color: inherit;
    text-decoration: none;
  }

  &__tel {
    display: inline-block;
    margin: 0 auto 40px;
  }
}
