.member {
  font-family: "Yeseva One", Arial, serif;
  position: relative;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
    background-color: $secondary;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 35px);
    margin-left: auto;
  }

  &--idea::before {
    background-image: url(../img/idea.svg);
  }

  &--graph::before {
    background-image: url(../img/graph.svg);
  }

  &--portfolio::before {
    background-image: url(../img/portfolio.svg);
  }

  &__card {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    transform: translateY(50%);
    background-color: $neutral;


    @media (max-width: $tablet-width) {
      position: absolute;
    }
  }

  &__photo {
    position: relative;
    margin: 35px 0 auto auto;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: 272px;

    @media (max-width: $tablet-width) {
      position: relative;
      max-height: none;
      max-width: none;
      width: 100%;
    }
  }

  &__name {
    padding: 0 15px;
    margin-bottom: 10;
  }

  &__position {
    margin: 0;
    margin-bottom: 25px;
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.47;
  }

  &__experience {
    background-color: $secondary;
    padding: 10px 2px;
    margin: 0;
    font-size: 13px;
    color: $neutral;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
  }
}
