.member {
  max-width: 270px;
  min-height: 25%;
  position: relative;
  justify-self: center;

  &__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
    margin-top: 100%;
    background-color: $neutral;
  }

  &__photo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: 390px;
    z-index: -1;
  }

  &__experience {
    background-color: $secondary;
    padding: 10px 20px;
    font-size: 13px;
    color: $neutral;
    text-transform: uppercase;
  }
}
