.request {

  @media (max-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $primary 0%, $primary calc(100% - 25px), $neutral calc(100% - 25px));
    background-color: $primary;
    color: $neutral;
  }

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 15%;

    @media (max-width: $tablet-width) {
      padding: 1.5% 5%;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 33px;

    @media (max-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }

  &__agree-box {
    align-self: center;
    justify-self: center;
    grid-column: 1 / span 3;

    @media (max-width: $tablet-width) {
      margin-bottom: 60px;
    }
  }

  &__name-box,
  &__phone-box {
    display: flex;
    flex-direction: column;
  }

  &__name-box {
    @media (max-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }

  &__phone-box {
    @media (max-width: $tablet-width) {
      margin-bottom: 25px;
    }
  }

  &__submit-btn {
    @media (max-width: $tablet-width) {
      order: 1;
    }
  }

}
