.styles {
  margin-bottom: 50px;
  background-color: $primary;
  background-image: url(../img/styles.jpg);
  background-size: cover;
  color: $neutral;

  @media (max-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $neutral 0%, $neutral 55%, $primary 55%);
    margin-bottom: 0;
  }

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5.5%;

    @media (max-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(300px, 35%) 1fr;

    @media (max-width: $tablet-width) {
      display: flex;
      overflow: hidden;
    }
  }

  &__title {
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: 110px;
    text-transform: uppercase;
    color: $secondary;
    font-size: 27px;
    line-height: 1.38;
    font-family: "Yeseva One", Arial, serif;

    @media (max-width: $tablet-width) {
      margin: 0 auto 20px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 70px;
    font-family: "Proxima Nova";
    font-size: 20px;
    line-height: 1.7;

    @media (max-width: $tablet-width) {
      display: none;
    }

  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &--active {
      color: $secondary;

      .styles__label {
        border-bottom: 1px solid $secondary;
      }
    }
  }

  &__label {
    cursor: pointer;
  }

  &__style-photos {
    position: relative;
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 45px;

    @media (max-width: $tablet-width) {
      display: block;
      overflow: hidden;
    }

  }

  &__photo-wrapper {
    position: absolute;
    width: 50%;
    max-width: 353px;

    @media (max-width: $tablet-width) {
      position: static;
      display: flex;
      width: 100%;
      max-width: none;
    }

    &:first-of-type {
      top: 400px;
      left: 0;
      transform: translate(0, -70%);

      @media (max-width: $tablet-width) {
        transform: none;
      }

    }

    &:last-of-type {
      top: 400px;
      left: 0;
      transform: translate(calc(100% + 10%), -80%);

      @media (max-width: $tablet-width) {
        transform: none;
      }
    }

  }

  &__btn {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 36px;
      height: 36px;
      border: 0;
      border-radius: 50%;
      background-color: $secondary;
      background-repeat: no-repeat;
      background-position: center;

      &--left {
        background-size: 12px;
        background-image: url(../img/btn-arrow--left.svg);
      }

      &--right {
        background-image: url(../img/btn-arrow--right.svg);
      }

    }

    &--left {
      left: 14px;
    }

    &--right {
      right: 14px;
    }

  }

  & picture {
    width: 100%;
  }

  &__style-photo {
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
      display: none;
      margin-bottom: 0;

      picture & {
        display: block;
      }
    }
  }
}
