.types {

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5% 8%;

    @media (max-width: $laptop-width) {
      padding-bottom: 1.5%;
    }
  }

  @include icon-lines(28px, 28px);

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Yeseva One", Arial, serif;
    font-size: 20px;
    line-height: 1.38;

    @media (max-width: $tablet-width) {
      padding-bottom: 45px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'FuturaBookC', Arial, sans-serif;
    color: $primary;

    @media (max-width: $laptop-width) {
      margin-bottom: 20px;
    }

  }

}
