.types {

  .container {
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5%;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $tablet-width) {
      padding-bottom: 45px;
    }
  }

  &__list {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: $primary;
  }

}
