.type {
  position: relative;
  min-height: 400px;
  max-width: 390px;

  &__photo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: 390px;
  }

  &__card {
    position: relative;
    margin: 0 30px;
    margin-top: 80%;
    background-color: $neutral;
  }

  &__title {
    text-align: center;
  }

  &__price {
    display: inline-block;
    padding: 20px 18px;
    background-color: $secondary;

  }
}
