.type {
  position: relative;
  min-height: 400px;
  max-width: 390px;

  &__photo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: 390px;
  }

  &__advantages {
    position: relative;

    @media (max-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }

  &__card {
    position: relative;
    margin: 0 30px;
    margin-top: 80%;
    background-color: $neutral;
    box-shadow: $card-shadow;

    @media (max-width: $tablet-width) {
      margin-left: 0;
      padding-left: 30px;
      margin-bottom: 60px;
    }
  }

  &__title {
    text-align: center;
  }

  &__price {
    display: inline-block;
    padding: 20px 18px;
    background-color: $secondary;

    @media (max-width: $tablet-width) {
      position: absolute;
      bottom: 0;
      left: -30px;
      transform: translateY(50%);
    }
  }
}
