.video {
  position: relative;

  &__iframe {
    width: 100%;
    max-height: 434px;
    border: 0;
  }

  &__play-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 0;
    background-color: $secondary;
    background-size: 28px;
    background-position: calc(50% + 3px);
    background-repeat: no-repeat;
    background-image: url(../img/play-btn.svg);

  }
}
