.workflow {
  @media (max-width: $tablet-width) {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 50px;
    box-sizing: border-box;
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding: 1.5% 5% 15% 0;
  }

  &__order {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    margin: 0;
    padding: 0;
    padding-left: 20%;
    list-style: none;
    background-image: url(../img/workflow.png);
    background-repeat: no-repeat;
    background-position: 0 -50px;
    font-family: "FuturaMediumC", Arial, sans-serif;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      left: calc(60% - 645px);
      top: 0;
      width: 640px;
      height: 640px;
      background: linear-gradient($neutral, $neutral) padding-box,
        linear-gradient(to right, $neutral 0%, $neutral 20%, $neutral 20%, $secondary 100%) border-box;
      border: 3px solid transparent;
      border-radius: 50%;
      z-index: -1;

      @media (max-width: $laptop-width) {
        display: none;
      }
    }

    @media (max-width: $laptop-width) {
      padding-left: 10%;

      br {
        display: none;
      }
    }

  }

  &__move {
    padding-bottom: 80px;
    width: 100%;
    max-width: 364px;
    position: absolute;

    @media (max-width: $laptop-width) {
      position: relative;
      padding-left: 50px;
      min-width: 300px;
      left: 0;
      top: 0;
    }

    &--first {
      left: 50%;
      top: 60px;
    }

    &--second {
      left: 60%;
      top: 170px;
    }

    &--third {
      left: 65%;
      top: 330px;
    }

    &--fourth {
      left: 57%;
      top: 480px;
    }
  }

  &__number {
    position: absolute;
    left: -30px;
    top: 15px;
    color: red;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: $secondary;
      text-transform: uppercase;
      font-family: "Yeseva One", Arial, serif;
      font-size: 18px;
      color: $neutral;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      transform: translate(-50%, -75%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      background-color: $neutral;
      border: 20px solid $neutral;
      border-radius: 50%;
    }


    .workflow__move--first &::before {
      content: "01";
    }

    .workflow__move--second &::before {
      content: "02";
    }

    .workflow__move--third &::before {
      content: "03";
    }

    .workflow__move--fourth &::before {
      content: "04";
    }

    @media (max-width: $laptop-width) {
      .workflow__move & {
        left: 20px;
        top: 15px;
      }
    }

  }

  &__request {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    min-height: 80%;
    padding: 0 10%;
    background-color: $primary;
    color: $neutral;
    font-size: 18px;
    font-family: "FuturaMediumC", Arial, sans-serif;
  }

  &__form-title {
    margin: 0 auto;
    max-width: 290px;
    font-family: "FuturaDemiC", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.22;
    text-align: center;
  }

  &__input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__agree-box {
    width: 100%;
  }

  &__input {
    padding: 10px;
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid rgba($neutral, 0.15);
    background-color: $primary;
    color: $neutral;
    line-height: 1.35;

    &::placeholder {
      color: $neutral;
    }
  }

  &__label {
    font-family: "FuturaBookC", Arial, sans-serif;
    font-size: 15px;
    color: rgba($neutral, 0.5);
  }

  &__note {
    position: relative;
    grid-column: 2 / 3;
    max-width: 220px;
    padding-left: 130px;
    color: $secondary;
    font-family: "FuturaDemiC", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.22;

    &::before {
      content: "";
      position: absolute;
      left: 30px;
      top: -10px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: $secondary;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/pig.svg);
    }
  }

  &__submit-btn {
    margin-left: auto;
    padding: 19px 22px;

    @media (max-width: $laptop-width) {
      margin-left: 0;
      width: 100%;
    }
  }

}
